body {
    margin:0;
    padding:0;
    }

.up {
    background: #e7e0e0;
    font-size: 30px;
    text-align: center;
    font-family: "verdana";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
  }

.krajobraz{
    font-size:20px;
    text-align: center;
    font-weight: bold;
    
}

.logo {
    height:100px;
    width:100px;
}

nav {
    text-align:center;
    font-family:  sans-serif;
  }
  
nav ul {
    list-style:none;
    padding:0;
  }
  
nav li {
    background:white;
    padding:0.15rem;
  }
  
nav a {
    text-decoration: none;
    font-size: 1.4rem; 
    background-color:turquoise;
    color: #333; 
    display:block;
    padding: 1rem;
    font-size:medium;
  }
  
nav a:hover {
    background:lightgrey;
  }
  
nav ul {
    display: table; 
    width: 100%;
    table-layout: fixed;
  }
    
nav li {
    display: table-cell; 
    vertical-align: middle;
    float:none;
    width:100%;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height:5%;
    width: 100%;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    text-align: center;
  }
